body{
    background-color: #667f96;
    text-align: center;
}

canvas {
    top: 10px;
}

#imgCanvas{
    width:200px;
    border-radius: 5px;
}

.camContent{
    margin: auto;
    text-align: center;
}

.camera{
    border-radius: 10px;
}

.btnPhoto{
    font-size: 22px;
    border: 2px solid white;
    border-radius: 100vw;
    padding:10px 20px 10px 20px;
    background-color: #566c80;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    cursor: pointer;
    transition: 0.25s;
}

.btnPhoto:hover{
    border: 2px solid white;
    background-color: white;
    color: #566c80;
}

.btnFilters{
    margin-top: 10px;
}
.btnFilter{
    margin-bottom: 5px;
    font-size: 12px;
    border: 1.75px solid white;
    border-radius: 100vw;
    padding:5px 10px 5px 10px;
    background-color: #566c80;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    cursor: pointer;
    transition: 0.25s;
}

.download{
    text-align: center;
    margin: auto;
    color:red;
}

@media only screen and (max-width: 660px) {
    video{
        width:96vw;
    }
    #imgCanvas{
        width:30vw;
    }

    #btnPhotoTake{
        font-size: 12px;
        padding:5px 10px 5px 10px;
    }

    .btnFilter{
        margin-bottom: 5px;
        font-size: 8px;
        border: 1.75px solid white;
        border-radius: 100vw;
        padding:5px 10px 5px 10px;
        background-color: #566c80;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
        cursor: pointer;
        transition: 0.25s;
    }
}